.contactFormContainer {
  height: 700px;
  width: 100%;
  padding-top: 20px;
  position: relative;
  .inputsContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    animation: fade 1.2s ease;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;
    transform: translateX(-60px);
    .inputContainer {
      margin: 40px 0;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: (1);
    transform: translateX(0);
  }
}
