.footerContainer {
  padding: 0 13.5vw;
  height: 50vh;
  width: 100%;
}

.contactMe {
  padding: 0 70px;
  padding-bottom: 60px;
  .row {
    h3 {
      color: #d8d8d8;
    }
    p {
      color: #fff;
      font-size: 1.2em;
      padding: 4px 0;
      &:hover {
        transition: 0.3s;
        color: #adadad;
      }
    }
  }
}

.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: #adadad;
    font-size: 1.2em;
  }
}
