.line {
  background: #bababa;
  height: 2px;
  width: 100%;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 50px;
  animation: appear 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  transform-origin: left;
  transform: scaleX(0);
}

@keyframes appear {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
